              <div class="col-lg-6">
                <ul class="list-unstyled">
                  <li>
                    <a href="/lang/index.html">
                      编程语言
                    </a>
                  </li>
                  <li>
                    <a href="/web/index.html">
                      WEB相关
                    </a>
                  </li>
                  <li>
                    <a href="/bigdata/index.html">
                      大数据
                    </a>
                  </li>
                  <li>
                    <a href="/archives.html">
                      时间轴
                    </a>
                  </li>
                </ul>
              </div>
              <!-- /.col-lg-6 -->
              <div class="col-lg-6">
                <ul class="list-unstyled">
                  <li>
                    <a href="/requirement/index.html">
                      需求文档
                    </a>
                  </li>
				          <li>
                    <a href="/read/index.html">
                      读书笔记
                    </a>
                  </li>
                  <li>
                    <a href="/other/index.html">
                      其他内容
                    </a>
                  </li>
                  <li>
                    <a href="/about.html">
                      关于
                    </a>
                  </li>
                  <li>
                    <a href="/tags.html">
                      标签云
                    </a>
                  </li>
                </ul>
              </div>
              <!-- /.col-lg-6 -->
