  <div id="git_comment" style="margin:0px 10px"></div>
  <script src="/comment/gitment.browser.js"></script>
  <script>
    var clientId = '522cb3a1f799761f1c2a'
    var clientSecret = '5124962a52d44b5a92ec5f05b012b5de69dcd5e4'
    var gitment = new Gitment({
      id: window.location.pathname,
      owner: 'itinycheng',
      repo: 'itinycheng.github.io',
      oauth: {
        client_id: clientId,
        client_secret: clientSecret,
      },
    })

    gitment.render('git_comment')
  </script>
